<!-- wp:group {"tagName":"main","metadata":{"name":"Site Wrap"},"ploverBlockID":"9ed27f2b-1626-41c5-913a-3ef339386991","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull">
    <!-- wp:columns {"ploverBlockID":"bbaf5da0-e0a9-4211-b82c-50ddaa91b9b6","style":{"spacing":{"blockGap":{"top":"0","left":"0"}}}} -->
    <div class="wp-block-columns">
        <!-- wp:column {"width":"320px","metadata":{"name":"Vexis: Sidebar"},"ploverBlockID":"ea333057-9f04-4680-85a1-943f36d091b6"} -->
        <div class="wp-block-column" style="flex-basis:320px">
            <!-- wp:template-part {"slug":"site-sidebar","tagName":"aside","area":"sidebar","className":"vexis-site-sidebar"} /-->
        </div>
        <!-- /wp:column -->

        <!-- wp:column {"width":"","metadata":{"name":"Vexis: Content"},"ploverBlockID":"e7ca7fde-14a7-4070-a8cc-e7e6c977d833","layout":{"type":"constrained"}} -->
        <div class="wp-block-column">
            <!-- wp:pattern {"slug":"plover/404"} /-->

            <!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer","align":"full"} /-->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
</main>
<!-- /wp:group -->
