<!-- wp:group {"tagName":"main","ploverBlockID":"c7d488a2-6d02-46aa-aed3-8494ca0a1130","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">

    <!-- wp:group {"ploverBlockID":"36dbe938-3a24-4c52-8b9f-768ea2944c37","style":{"spacing":{"padding":{"top":"var:preset|spacing|large"},"margin":{"bottom":"var:preset|spacing|40"}}},"layout":{"type":"default"}} -->
    <div class="wp-block-group"
        style="margin-bottom:var(--wp--preset--spacing--40);padding-top:var(--wp--preset--spacing--large)">

        <!-- wp:post-featured-image {"ploverBlockID":"1763e8ca-4b9a-4e94-a882-42157d8f9c5e","style":{"spacing":{"margin":{"bottom":"0","top":"var:preset|spacing|medium"}}}} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-content {"lock":{"move":true,"remove":true},"ploverBlockID":"1bd07fc5-d29f-4b7c-8bf5-d59174092c0d","align":"full","layout":{"type":"constrained"}} /-->

    <!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer","align":"full"} /-->
</main>
<!-- /wp:group -->